<h1>Choose your first mate! <sup>***</sup></h1>
<h3>There are plenty of seamen for ya, Bargemaster, before ye set sail with yer cocket!
  No bottomry required! Ne'er a demurrage for ye - ready yer jackstaff and man the poop deck!
</h3>
<h6>
  <em>Terms and conditions apply:
    it's the motion of the ocean and not the size of your coxswain
  </em>
</h6>

<!-- prepopulate with cities -->
<div ngShow="!user.citySelect">
  <div>please choose your hometown!</div>
  <select ngOptions="for city in cityList" ng-model="user.citySelect">
    <option value=""> -- none selected --</option>
  </select>
</div>
<!-- prepopulate with nationality -->
<div ngHide="!user.citySelect">
  <div>please choose an accent </div>
  <select ngOptions="for nationality in nationalityList" ng-model="user.nationalitySelect">
    <option value=""> -- none selected --</option>
    <option value=""> asdfdsa</option>
  </select>
</div>

<button type="submit">Find the balance for your ballast!</button>

<!-- members in area -->
<div ngShow="user.citySelect && user.nationalitySelect">
  There are a total of {{ $scope.areaCount }} first mates in your area!
</div>

  Results:
<div ng-repeat="bargemaster in profileObjects">
  <!--
  <div>
    <img src=" {{ bargemaster.url }} ">
  </div>
  -->
  <div>
    {{ bargemaster.Name1 }}
  </div>
  <div>
    {{ bargemaster.Nationality }}
  </div>
  <div>
    {{ bargemaster.ShipName }}
  </div>
  <div>
    {{ bargemaster.ShipType }}
  </div>
  <div>
    {{ bargemaster.avgDistance }}
  </div>
  <div>
    {{ bargemaster.totalWars }}
  </div>
</div>
