<h1>Choose your first mate! <sup>***</sup></h1>
<h3>Ye've a few choices to make, Bargemaster, before ye set sail with yer
  cocket!</h3>
<h4>At First Mates, no bottomry is ever required. Have no fear of demurrage—just
  ready yer jackstaff, clear the poop deck, and prepare to be boarded!</h4>
<h6><em>Terms and conditions may apply. And remember: it's not the size of the
  coxswain, it's the motion of the ocean.</em></h6>

<h3>Now then—how do ye like yer seamen?</h3>
<div>Choose your preferred accent:</div>
<select ng-model="user.nationalitySelect"
        ng-change="getPorts()"
        ng-options="nat as nat for nat in nationalities">
</select>

  <div>Select your port of call:</div>
  <select ng-options="port as port for port in ports" ng-model="user.citySelect">
  </select>

<button type="submit" ng-click="getSeamen()">Find the balance for yer ballast!</button>

<!-- members in area
<div ngShow="user.citySelect && user.nationalitySelect" ng-cloak>
  There are a total of {{ $scope.areaCount }} first mates in your area!
</div> -->

Results:
<md-card ng-repeat="bargemaster in profileObjects" ng-cloak>
  <md-card-title>
    <md-card-title-text>{{ bargemaster.Name }}</md-card-title-text>
  </md-card-title>
  <md-card-content>
    <p>{{ bargemaster.Rank }} <span ng-if="bargemaster.Rank===''">Commander</span>
      of the mighty {{ bargemaster.Nationality }}
      {{ bargemaster.ShipType }} <span ng-if="bargemaster.ShipType===''">ship</span>
      <em>{{ bargemaster.ShipName }}<span ng-if="bargemaster.ShipName===''">Unknown</span></em>.</p>
    <p>Average nautical miles travelled per day: {{ bargemaster.avgDistance }}</p>
    <p>Battles fought: {{ bargemaster.totalWars }}</p>
  </md-card-content>
</md-card>
<!--
<div>
  <img src=" {{ bargemaster.url }} ">
</div>
-->
</div>
